<div class="container col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12  bg-random mb-3 mt-3">
  <!-- section-1 ຫົວຂໍ້-->
  <section class="col-md-6 offset-md-3 one mt-3 mb-2">
    <h1 class="text-center lao-font mt-3">ນັບຖອຍຫຼັງການຈັບລາງວັນຄັ້ງທີ1</h1>
    <h2 class="text-center lao-font"><i class="degital-font degital-size">20:00 - 22:29</i></h2>
  </section>

  <!-- phone-client -->
  <section class="two">
    <div class="text-phone mb-3">
      <h2 class="text-center lao-font">ເບີໂທຂອງທ່ານ</h2>
      <input type="text" value="020 999999999" class="text-center form-control degital-font degital-size bg-yourphone"> 
    </div>
  </section>

  <section class="three mb-3">
    <div class="random-process mb-3">
      <div class="bg-out-main">
        <div class="bg-in-main"> <br>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center bg-winner"><i class="mt-3">020 99999999</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
          <p class="degital-font degital-size-random text-center"><i class="mt-3">020 55522266</i></p>
        </div>
      </div>
    </div>

    <div class="three-sub">
      <div class="bg-three-sub d-flex align-items-center justify-content-center justify-content-around">
        <button class="circle-bottom"></button>
        <button class="circle-bottom"></button>
        <button class="circle-bottom"></button>
      </div>
    </div>
  </section>
</div>



