<div class="container">
  <section class="one">
    <!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Active Promotion!</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add pull-left mb-3 mr-2">
                <button class="btn btn-info">ACTIVE <input type="checkbox"></button>
            </span>
            <span class="table-add pull-left mb-3 mr-2">
                <button class="btn btn-warning lao-font">ໂມງເລີ່ມ 16:30</button>
            </span>
            <span class="table-add pull-left mb-3 mr-2">
                <button class="btn btn-warning lao-font">ໂມງສິ້ນສຸດ 22:30</button>
            </span>
          <span class="table-add float-right mb-3 mr-2">
            <button class="btn btn-danger"><i class="fas fa-play mr-1"></i> START PRO</button>
          </span>
          <table class="table table-bordered table-responsive-md table-fixed">
            <!--Table head-->
            <thead>
              <tr>
                <th>#</th>
                <th class="lao-font text-center">ຊື່</th>
                <th class="lao-font text-center">ລະຫັດໂປຣ</th>
                <th class="lao-font text-center">ເບີໂທ</th>
                <th class="lao-font text-center">ຈຸດພິກັດ</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr>
                <th scope="row">4</th>
                <td>Jerry</td>
                <td>Horwitz</td>
                <td>Bari</td>
                <td>Editor-in-chief</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Janis</td>
                <td>Joplin</td>
                <td>Warsaw</td>
                <td>Video Maker</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Gary</td>
                <td>Winogrand</td>                
                <td>Berlin</td>
                <td>Photographer</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Angie</td>
                <td>Smith</td>                
                <td>San Francisco</td>
                <td>Teacher</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>John</td>
                <td>Mattis</td>                
                <td>Paris</td>
                <td>Actor</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Otto</td>
                <td>Morris</td>                
                <td>Munich</td>
                <td>Singer</td>
              </tr>
            </tbody>
            <!--Table body-->

          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->
  </section>
</div>