/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Saysettha_OT';
    font-weight: normal;
    font-style: normal;
    src: url('assets/css/fonts/Saysettha_OT.ttf');
    
}

.lao-font{
	font-family: 'Saysettha_OT';
}
body{
    background: rgba(202, 197, 197, 0.205) !important;
}

/* ປ່ຽນການສະແດງຂອງ class form-control  */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }